a.cube-palette-1 {
    color: #ef5742;

    &:hover {
        text-decoration: underline;
    }
}

.cube-palette-2 {
    color: #3a001e;
}

.cube-palette-3 {
    color: #855858;
}

a.simple {
    &.cube-palette-1 {
        color: #ef5742;
    }
}

a.cube-palette-2:hover{
    color: #855858;
}

.bg-cube-palette-1 {
    background: #ef5742;
}

.bg-cube-palette-1-100 {
    background: rgba(239, 87, 66, 0.02);
}

.bg-cube-palette-1-200 {
    background: rgba(239, 87, 66, 0.04);
}

.border-cube-palette-1-200 {
    border-color: rgba(239, 87, 66, 0.2);
}

.bg-cube-palette-2 {
    background: #3a001e;
}

.bg-cube-palette-3 {
    background: #855858;
}

pre {
    background: rgba(204, 204, 204, 0.1);
}

code {
    background: rgba(204, 204, 204, 0.3);
}

hr, blockquote {
    border-color: #f0e2e2;
}

.thiago-mentory {
    &.calendly-inline-widget {
        min-width: 320px;
        height: 1010px;

        @media screen and (max-width: 712px) {
            margin-top: 30px;
        }
    }
}

main p a {
    color: #ef5742;
    font-weight: normal;

    &:hover {
        text-decoration: underline;
    }
}