.cube-palette-1 {
    color: #ef5742;
}

.cube-palette-2 {
    color: #3a001e;
}

.cube-palette-3 {
    color: #855858;
}

a.simple {
    &.cube-palette-1 {
        color: #ef5742;
    }
}

a.cube-palette-2:hover{
    color: #855858;
}

.bg-cube-palette-1 {
    background: #ef5742;
}

.bg-cube-palette-1-100 {
    background: rgba(239, 87, 66, 0.02);
}

.bg-cube-palette-1-200 {
    background: rgba(239, 87, 66, 0.04);
}

.bg-cube-palette-2 {
    background: #3a001e;
}

.bg-cube-palette-3 {
    background: #855858;
}

code {
    background: rgba(239, 87, 66, 0.1);
}